<% include ../partials/head %>
<% include ../partials/header %>
<div id="root">
  <div class="app">

    <main id="router-view">
      <div class="holder">
        <% include ../organisms/overview %>
      </div>
    </main>

  </div>
</div>
<% include ../partials/footer %>
