<% include ../partials/head %>
<% include ../partials/header %>
<div id="root">
  <div class="app">
    <main id="router-view">
      <div class="holder" style="text-align: center; padding: 1rem;">
        <h2>You broke the web!</h2>
        <p>Could not fetch assets. Try again when you are connected to internet.</p>
      </div>

    </main>
  </div>
</div>


<% include ../partials/footer %>
